In [1]:
import pandas as pd
import json
import sklearn.svm as svm
import numpy as np

In [2]:
## Change the name to get your path
user = 'Yash'
file1 = 'AG01-01.csv'
file2 = 'GTH01-01.csv'

In [3]:
def load_Data(user, filename):
   data = json.load(open('dir.json'))
   dir = data[user] + filename
#    data = pd.read_csv(dir, header=2)
   return dir

In [23]:
data = pd.read_csv(load_Data(user, file1), header=0)
data['Class'] = np.random.randint(2, size=len(data))
np.where(data['start.time'] == '10/3/17 16:44')
np.where(data['start.time'] == '10/3/17 18:44')

(array([116940, 116941, 116942, 116943, 116944, 116945, 116946, 116947,
        116948, 116949, 116950, 116951, 116952, 116953, 116954, 116955,
        116956, 116957, 116958, 116959, 116960, 116961, 116962, 116963,
        116964, 116965, 116966, 116967, 116968, 116969, 116970, 116971,
        116972, 116973, 116974, 116975, 116976, 116977, 116978, 116979,
        116980, 116981, 116982, 116983, 116984, 116985, 116986, 116987,
        116988, 116989, 116990, 116991, 116992, 116993, 116994, 116995,
        116996, 116997, 116998, 116999]),)

In [24]:
116999 - 109740

7259

In [5]:
gt = pd.read_csv(load_Data(user, file2), header=0)
gt.head()

   Unnamed: 0  observation        date         coding  time
0           1  H_AM01DO1_M  13-01-2018  non-sedentary     0
1           2  H_AM01DO1_M  13-01-2018  non-sedentary     1
2           3  H_AM01DO1_M  13-01-2018  non-sedentary     2
3           4  H_AM01DO1_M  13-01-2018  non-sedentary     3
4           5  H_AM01DO1_M  13-01-2018  non-sedentary     4

In [7]:
len(gt), len(data)

(7265, 259140)

In [8]:
clf = svm.SVC(cache_size=7000)

In [9]:
X = [[1.01,.005,14.41],[1.01,.006,13],[1.02,.023,12.86]]
y = [1,1,0]

In [10]:
clf.fit(X, y)

SVC(C=1.0, cache_size=7000, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [ ]:
X = data[['mean.vm','sd.vm']]
clf.fit(X, data['Class'])

In [55]:
clf.predict()