In [1]:
import script as sc
import pandas as pd
user = 'Yash'

In [2]:
sc.update_complete(user)

/Users/yashmehra/Google Drive/DATA 451/KineseItUp/script.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  observedData['index'] = range(len(observedData))

In [3]:
data = pd.DataFrame(sc.get_complete(user))
data.head()

,Unnamed: 0,Unnamed: 0.1,mean.vm,sd.vm,mean.ang,sd.ang,p625,dfreq,ratio.df,start.time,index,coding,type
0,0,368941,1.025459,0.052283,-13.663296,3.477743,0.072835,12.307692,0.072342,2017-10-06 16:44:00,0,non-sedentary,H-1
1,1,368942,1.019744,0.028089,-16.673945,2.361258,0.059919,9.230769,0.095085,2017-10-06 16:44:01,1,non-sedentary,H-1
2,2,368943,1.027147,0.026020,-6.451596,5.413729,0.216824,2.051282,0.179074,2017-10-06 16:44:02,2,non-sedentary,H-1
3,3,368944,1.049957,0.119535,-21.404693,23.206850,0.299554,2.051282,0.172340,2017-10-06 16:44:03,3,non-sedentary,H-1
4,4,368945,1.028554,0.049378,-69.353741,1.962348,0.130182,4.102564,0.067698,2017-10-06 16:44:04,4,non-sedentary,H-1

In [5]:
data.shape

(28807, 13)